* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: black;
}

textarea::-webkit-scrollbar {
    display: none;

}

body {
    position: fixed;
}

#code {
    width: 90vw;
    height: 500px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 1.2em;

}